html
    head
        title!= pageTitle
        include styles.html
    body
        h1!= pageHeader

        each obj in objs
           div(class='metric')
               div
                    span Name
                    span!= obj.name
               div
                    span Sequence
                    span!= obj.sequence
               div
                    span Timestamp
                    span!= obj.timestamp
